@charset "UTF-8";

.main_right .con-pay {
	height: auto;
}

.con-pay .cont-pay {
	padding-top: 40px;
	width: 90%;
	height: auto;
	margin: 0 auto;
	position: relative;
    display: inline-block;
}

.contents .board_shape {
	width: 100%;
	height: auto;
	margin: 0 0 10px 0;
	text-transform: uppercase;
}

.col-sm-8 {
    width: 90%;
    height: auto;
    margin: 0 0 10px;
    padding: 0;
    position: relative;
}

.contents .board_shape .board_name {
	text-align: center;
}

.contents .board_shape .name_text {
	padding-bottom: 40px;
	width: 100%;
	height: 60px;
	font-size: 14px;
	font-weight: 600px;
}

.contents .board_shape .board_body {
	text-align: left;
	width: 95%;
    height: 610px;
}

.board_body .pay-title {
	padding: 16px 14px 20px 14px;
    border-bottom: 1px solid #d7d5d5;
    margin-bottom: 10px;
}

.box-sub-title {
	margin: 0 auto;
	font-size: 24px;
}

.member-info tr {
	width: 100%;
	height: auto;
}

.member-info th {
	width: 112px;
	padding: 14px 0 14px 14px;
	vertical-align: top;
}

.member-info .th-receiver {
	height: 48px;
}

#receiver {
	margin: 0;
}

.col-sm-8 {
	width: 100%;
}

.member-info table {
	width: 100%;
}

.member-info .ness {
	width: 6px;
	height: 6px;
}

.member-info .control-label {
	font-weight: 400;
	color: #666;
	width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}

.member-info #search-addr {
	vertical-align: bottom;
	margin: 0 14px 0 0;
	width: 70%;
	display: inline-block;
}

.member-info #btn-addr {
	margin: 0;
} 

table > tbody > tr > td input {
	margin: 10px 0;
}

.text {
    padding: 7px;
    border: 1px solid #d7d5d5;
    color: #333;
    box-sizing: border-box;
    width: 50%;
}

.member-info select {
	width: 30%;
	float: left;
	height: 40px;
	color: #333;
	border: 1px solid #d7d5d5;
	margin: 0 3px 0 0;
	padding: 0 20px 0 8px;
}

.write-cellbox {
	margin: 0;
}

.write-cellnum {
	display: inline-block;
	width: 100%;
	height: 40px;
	padding: 0;
}

.write-cellnum .cellbox {
	width: 50%;
	height: 40px;
	color: #333;
	border: 1px solid #d7d5d5;
	margin: 0;
}

.write-email {
	display: inline-block;
}

.emailbox {
	display: inline-block;
	width: 50%;
	height: 40px;
	color: #333;
	border: 1px solid #d7d5d5;
	margin: 0 3px 0 0;
	padding: 7px;
}

.at {
	margin: 0 auto;
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    line-height: 1;
    font-size: 16px;
}

.member-info .sel-email {
	width: 43%;
	margin: 10px 0; 
}

.member-info .message-box {
	width: 100%;
	height: 69px;
	color: #666;
	padding: 14px;
	border-top: 1px solid #d7d5d5;
	border-bottom: 1px solid #d7d5d5;
	position: relative;
	background-color: #f9f9f9;
}

.message-box .sel-message {
	width: 100%;
}

.member-info .set-main-addr {
	width: 100%;
	height: 58px;
	color: #666;
	padding: 14px;
	position: relative;
}

.set-main-addr .check-addr {
	margin: 0;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.set-main-addr label {
	width: auto;
	font-size: 16px;
	font-weight: 400;
	height: 29px;
	margin: 0 20px 0 7px;
	color: #666;
	vertical-align: middle;
}

.order-prd {
	width: 90%;
	height: auto;
	margin: 0 0 10px;
	padding: 0;
	position: relative;
}

.order-area .order-list {
	width: 100%;
	height: 100%;
}

.order-area .order-list .prd-info {
	margin: 0;
	position: relative;
	padding: 20px 14px 15px;
	box-sizing: border-box;
}

.prd-info .prd-box {
	display: flex;
	min-height: 104px;
}

.prd-box .thumbnail {
	width: 90px;
	height: 90px;
	margin-right: 20px;
	box-sizing: border-box;
	overflow: hidden;
	border: 1px solid #d7d5d5;
}

.prd-box .desc {
	flex: 1;
	margin-top: -3px;
	line-height: 1.7;
}

.desc p {
	color: #666;
}

.prd-box .btn-remove {
	position: relative;
	width: 24px;
	height: 24px;
	border-radius: 2px;
	margin: 0 0 0 4px;
	text-align: center;
    line-height: 0.9;
    cursor: pointer;
}

.discount .use-mile-box {
	padding: 20px 14px;
}

.use-mile-box .head-mile {
	font-size: 17px;
}

.use-mile-box .write-mile {
	width: 100%;
	position: relative;
	margin: 12px 0 0;
	padding: 0 108px 0 0;
	display: inline-block;
}

.write-mile .mile {
	width: 80%;
	position: relative;
	display: inline-block;
	text-align: right;
}

.write-mile .btn-use {
	vertical-align: baseline;
}

.use-mile-box .min-mile {
	width: 100%;
	height: 105px;
	margin-top: 20px;
	padding: 8px 0 0;
	border-top: 1px dashed #d7d5d5;
	font-size: 13px;
	color: #999;
	text-align: left;
}

.total-pay {
	padding: 16px 15px;
    border-top: 1px solid #d7d5d5;
    color: #333;
    font-size: 18px;
    background: #eff1f4;
}

.total-pay h3 {
	margin: 0 4px 0 0;
	color: #333;
	font-size: 18px;
	font-weight: bold;
    display: inline-block;
}

.total-mile {
	margin-bottom: 14px;
}

.total-pay strong {
	float: right;
	color: #508BED;
	font-size: 18px;
}

.payment .payment-box {
	margin-bottom: 14px;
}

.payment .pay-info-box {
	width: 100%;
	height: auto;
}

.pay-info-box .pay-info-detail {
	padding: 14px;
	position: relative;
}

.payment table tr {
	width: 100%;
	height: auto;
}

.payment table th {
	width: 122px;
	height: 32px;
    padding: 5px 0 5px 14px;
    vertical-align: top;
    font-size: 16px;
    color: #666;
    font-weight: 400;
}

.payment table td {
	width: 748px;
	height: 32px;
	padding: 5px 14px 5px 5px;
	text-align: right;
}

.payment table td span {
	font-size: 16px;
	color: #666;
}

.total-payment {
	border: none;
}

.pay-method .method-cont {
	width: 100%;
	height: auto;
}

.method-cont .sel-method {
	width: 100%;
	height: 161px;
	padding: 14px;
	margin: 0;
	position: relative;
}

.sel-method .sel-meth-box {
	position: relative;
    margin: 10px 0 0;
    width: 100%;
    height: 123px;
}

.sel-method .sel-head {
	color: #333;
    background: #eff1f4;
    width: 100%;
    height: 52px;
    font-size: 17px;
    padding: 10px 15px;
    font-weight: 600;
}

.sel-head p {
	line-height: 1.9;
}

.sel-meth-box .choice {
	width: 100%;
	height: 71px;
	color: #666;
	padding: 17px 14px;
	font-size: 16px;
}

.choice .sp-meth {
	margin: 0 20px 7px 0;
	height: 29px;
}

.choice span input {
	width: 25px;
	height: 25px;
}

.choice span label {
	width: auto;
	height: 29px;
	color: #666;
	font-size: 16px;
	margin: 0 0 0 7px;
	font-weight: 400;
}

.order-fin {
	width: 97%;
    height: 55px;
    margin: 14px;
}

.order-fin .order-fin-btn {
	font-size: 16px;
	color: white;
}

.order-fin-btn .order-btn {
	width: 100%;
	height: 55px;
	background-color: black;
    font-size: 20px;
}







