@charset "UTF-8";

#header > .inner {
	position: relative;
	width: 100%;
	color: #000;
	padding: 20px 8px;
	box-sizing: border-box;
	overflow: visible;
	height: 64px;
}

.inner .menu_l {
	position: absolute;
	top: 0;
	left: 5px;
	display: inline-block;
	width: auto;
	height: 100%;
	z-index: 99;
}

.inner .logo {
	display: inline-block;
	font-size: 13px;
	position: relative;
	z-index: 199;
	width: 99px;
	height: 24px;
}

.inner .menu_r {
	
}
