<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
   	<mapper namespace="com.shop.md1.order.OrderMapper">
   	
   		<select id="getOrderList" parameterType="OrderVO" resultType="OrderVO">
   			select order_num, item_image, item_name, cart_count, item_price, order_manage, item_size, item_color, order_date
			from order_info as OI 
			left join item as I on (OI.item_num = I.item_num)
			left join member_info as MI on (OI.member_num = MI.member_num)
			left join cart as C on (OI.cart_num = C.cart_num)
			where member_id = #{member_id}
   		</select>
    	
    	<select id="getCartItem" parameterType="OrderVO" resultType="OrderVO">
    		select item_image, item_name, cart_count, item_price, item_size, item_color, item_reserve, cart_num, cart_count
			from item as I 
			left join cart as C on (I.item_num = C.item_num)
			left join member_info as MI on (C.member_num = MI.member_num)
			where member_id = #{member_id}
    	</select>
    
    </mapper>