<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.md1.board.qna.QnaMapper">
	<sql id="getSearch">
		<choose>
			<when test="kind == 'title'">
				board_title2
			</when>
			<when test="kind == 'writer'">
				 board_writer
			</when>
			<otherwise>
				board_contents
			</otherwise>
		</choose>
		like concat('%', #{search}, '%') and board_num>0
	</sql>
	
	<insert id="setReply" parameterType="QnaVO">
		insert into qna (board_title, board_title2, board_writer, board_contents, regDate, ref, step, depth)
		values (
		#{board_title}, #{board_title2}, #{board_writer}, #{board_contents}, sysdate(),
		(select ref from qna q1 where board_num=#{board_num}), 
		(select step+1 from qna q1 where board_num=#{board_num}), 
		(select depth+1 from qna q1 where board_num=#{board_num})
		<!-- #{ref},
		#{step} + 1,
		#{depth} +1 -->
		)
	</insert>
	
	<update id="setUpdate" parameterType="QnaVO">
		update qna set board_title = #{board_title}, board_title2 = #{board_title2}, board_contents = #{board_contents} where board_num = #{board_num}
	</update>
	
	<delete id="setDelete" parameterType="QnaVO">
		delete from qna where board_num = #{board_num}
	</delete>
	
	<select id="getOne" parameterType="QnaVO" resultMap="GetOneResult">
		select q.*, qf.* 
		from qna q left join qnafiles qf
		on q.board_num = qf.board_num
		where q.board_num = #{board_num}
	</select>
	
	<resultMap type="QnaVO" id="GetOneResult">
		<id column="board_num" property="board_num"/>
		<result column="board_writer" property="board_writer"/>
		<result column="board_title" property="board_title"/>
		<result column="board_title2" property="board_title2"/>
		<result column="board_contents" property="board_contents"/>
		<result column="regDate" property="regDate" javaType="java.sql.Date"/>
		<result column="ref" property="ref"/>
		<result column="step" property="step"/>
		<result column="depth" property="depth"/>
		<collection property="files" javaType="java.util.List" ofType="BoardFileVO">
			<id column="fnum" property="fnum"/>
			<result column="fileName" property="fileName"/>
			<result column="oriName" property="oriName"/>
		</collection>
	</resultMap>
	
	<insert id="setInsert" parameterType="QnaVO" useGeneratedKeys="true" keyProperty="board_num">
		insert into qna (board_num, board_title, board_title2, board_writer, board_contents, regDate, ref, step, depth) 
		values (#{board_num}, #{board_title}, #{board_title2}, #{board_writer}, #{board_contents}, sysdate(), #{board_num}, 0, 0)
	</insert>
	
	<insert id="setInsertFile" parameterType="BoardFileVO">
		insert into qnafiles (board_num, fileName, oriName)
		values (#{board_num}, #{fileName}, #{oriName})
	</insert>
	
	<select id="getFile" parameterType="BoardFileVO" resultType="BoardFileVO">
		select * from qnafiles where fnum = #{fnum}
	</select>
	
	<update id="setRefUpdate" parameterType="BoardVO">
		<!-- update qna set ref=#{board_num} where board_num = #{board_num} -->
		update qna set ref=#{ref}, step=step+1 where board_num = #{board_num} and step > #{step}
		
	</update>

	<select id="getList" resultType="QnaVO" parameterType="Pager">
			select * from qna where
			<include refid="getSearch"></include>
			order by ref desc, step asc
			limit #{startRow}, #{perPage}
	</select>
	
	<select id="getCount" resultType="Long" parameterType="Pager">
		select count(board_num) from qna where
		<include refid="getSearch"></include>
	</select>
	
</mapper>