<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.md1.board.qna.QnaMapper">
	<sql id="getSearch">
		<choose>
			<when test="kind == 'title'">
				board_title
			</when>
			<when test="kind == 'writer'">
				 board_writer
			</when>
			<otherwise>
				board_contents
			</otherwise>
		</choose>
		like concat('%', #{search}, '%') and board_num>0
	</sql>
	
	<insert id="setReply" parameterType="QnaVO">
		insert into qna (board_title, board_writer, board_contents, regDate, ref, step, depth)
		values (
		#{board_title}, #{board_writer}, #{board_contents}, sysdate(),
		(select ref from qna q1 where board_num=#{board_num}), 
		(select step+1 from qna q1 where board_num=#{board_num}), 
		(select depth+1 from qna q1 where board_num=#{board_num})
		)
	</insert>
	
	<update id="setUpdate" parameterType="QnaVO">
		update qna set board_title = #{board_title}, board_contents = #{board_contents} where board_num = #{board_num}
	</update>
	
	<delete id="setDelete" parameterType="QnaVO">
		delete from qna where board_num = #{board_num}
	</delete>
	
	<select id="getOne" parameterType="QnaVO" resultType="QnaVO">
		select * from qna where board_num = #{board_num}
	</select>
	
	<insert id="setInsert" parameterType="QnaVO">
		insert into qna (board_title, board_writer, board_contents, regDate, ref, step, depth, item_num) 
		values (#{board_title}, #{board_writer}, #{board_contents}, sysdate(), 0, 0, 0, 1)
	</insert>	

	<select id="getList" resultType="QnaVO" parameterType="Pager">
			select * from qna where 
			<include refid="getSearch"></include>
			order by board_num desc
			limit #{startRow}, #{perPage}
	</select>
	
	<select id="getCount" resultType="Long" parameterType="Pager">
		select count(board_num) from qna where
		<include refid="getSearch"></include>
	</select>
	
</mapper>