<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.md1.board.review.ReviewMapper">
	<sql id="getSearch">
		<choose>
			<when test="kind == 'title'">
				board_title2
			</when>
			<when test="kind == 'writer'">
				 board_writer
			</when>
			<otherwise>
				board_contents
			</otherwise>
		</choose>
		like concat('%', #{search}, '%') and board_num>0 
	</sql>
	
	<insert id="setReply" parameterType="ReviewVO">
		insert into review (board_title, board_title2, board_writer, board_contents, regDate, ref, step, depth)
		values (
		#{board_title}, #{board_title2}, #{board_writer}, #{board_contents}, sysdate(),
		(select ref from review rv where board_num=#{board_num}), 
		(select step+1 from review rv where board_num=#{board_num}), 
		(select depth+1 from review rv where board_num=#{board_num})
		)
	</insert>
	
	<update id="setUpdate" parameterType="ReviewVO">
		update review set board_title = #{board_title}, board_title2 = #{board_title2}, board_contents = #{board_contents} where board_num = #{board_num}
	</update>
	
	<update id="setRefUpdate" parameterType="BoardVO">
		update review set ref=#{board_num} where board_num = #{board_num}
	</update>
	
	<delete id="setDelete" parameterType="ReviewVO">
		delete from review where board_num = #{board_num}
	</delete>
	
	<select id="getOne" parameterType="ReviewVO" resultMap="GetOneResult">
		select r.*, rf.* 
		from review r left join reviewfiles rf
		on r.board_num = rf.board_num 
		where r.board_num = #{board_num}
	</select>
	
	<resultMap type="ReviewVO" id="GetOneResult">
		<id column="board_num" property="board_num"/>
		<result column="board_writer" property="board_writer"/>
		<result column="board_title" property="board_title"/>
		<result column="board_title2" property="board_title2"/>
		<result column="board_contents" property="board_contents"/>
		<result column="regDate" property="regDate" javaType="java.sql.Date"/>
		<result column="ref" property="ref"/>
		<result column="step" property="step"/>
		<result column="depth" property="depth"/>
		<collection property="files" javaType="java.util.List" ofType="BoardFileVO">
			<id column="fnum" property="fnum"/>
			<result column="fileName" property="fileName"/>
			<result column="oriName" property="oriName"/>
		</collection>
	</resultMap>
	
	<insert id="setInsert" parameterType="ReviewVO" useGeneratedKeys="true" keyProperty="board_num">
		insert into review (board_title, board_title2, board_writer, board_contents, regDate, ref, step, depth) 
		values (#{board_title}, #{board_title2}, #{board_writer}, #{board_contents}, sysdate(), #{board_num}, 0, 0)
	</insert>
	
	<insert id="setInsertFile" parameterType="BoardFileVO">
		insert into reviewfiles (board_num, fileName, oriName)
		values (#{board_num}, #{fileName}, #{oriName})
	</insert>

	<select id="getList" resultType="ReviewVO" parameterType="Pager">
			select * from review where
			<include refid="getSearch"></include>
			order by ref desc, step asc
			limit #{startRow}, #{perPage}	
	</select>
	
	<select id="getCount" resultType="Long" parameterType="Pager">
		select count(board_num) from review where
		<include refid="getSearch"></include>
	</select>
	
	<select id="getFile" parameterType="BoardFileVO" resultType="BoardFileVO">
		select * from reviewfiles where fnum = #{fnum}
	</select>

</mapper>