<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.md1.board.review.ReviewMapper">
	<sql id="getSearch">
		<choose>
			<when test="kind == 'board_title'">
				board_title
			</when>
			<when test="kind == 'board_writer'">
				 board_writer
			</when>
			<otherwise>
				board_contents
			</otherwise>
		</choose>
		like concat('%', #{search}, '%') and board_num>0 
	</sql>
	
	<select id="getOne" parameterType="ReviewVO" resultType="ReviewVO">
		select * from reivew where board_num = #{board_num}
	</select>
	
	<insert id="setInsert" parameterType="ReviewVO">
		insert into review (board_title, board_writer, board_contents, item_num) 
		values (#{board_title}, #{board_writer}, #{board_contents}, 1)
	</insert>	

	<select id="getList" resultType="ReviewVO" parameterType="Pager">
			select * from review where
			<include refid="getSearch"></include>
			order by board_num desc
			limit #{startRow}, #{perPage}	
	</select>
	
	<select id="getCount" resultType="Long" parameterType="Pager">
		select count(board_num) from qna where
		<include refid="getSearch"></include>
	</select>

</mapper>