@charset "UTF-8";

.main_right .con-sel {
	width: auto;
	height: auto;
	margin: 0 auto;
	padding: 0;
}

.con-sel .cont-sel {
	position: relative;
	min-height: 700px;
	width: 90%;
	max-width: 1530px;
	margin: 0 auto;
	padding: 120px 0 0 0;
}

.contents .select-box {
	width: 100%;
	height: auto;
	border: 1px solid #ddd;
	position: relative;
	margin: 0 0 30px 0;
}

.contents .select-box .select-wrap {
	position: relative;
	margin: 40px auto;
	width: 92%;
	height: 100%;
}

.contents .select-wrap .board-top {
	width: 100%;
	height: 111px;
	padding-bottom: 40px;
	border-bottom: 1px solid #ddd;
	text-align: left;
	text-transform: uppercase;
}

.contents .select-wrap .board-top li {
	width: 50%;
	height: 20px;
	margin: 0;
}

.contents .select-wrap .board-top .sel-title {
	font-size: 14px;
	padding-bottom: 30px;
	height: 50px;
}

.contents .select-wrap .board-contents {
	width: 100%;
	height: 100%;
	padding: 80px 0;
	font-size: 12px;
	text-align: left;
}

.contents .select-wrap .re-list {
	width: 100%;
	height: 75px;
	padding-top: 40px;
	text-transform: uppercase;
}

.contents .select-wrap .re-list .btn {
	float: right;
    border: 1px solid #a5a5a5;
    width: 80px;
    border-radius: initial;
    cursor: pointer;
}












