@charset "UTF-8";

.cont-notice {
	padding-top: 40px;
	width: 90%;
	margin: 0 auto;
}

.contents .board_shape {
	width: 100%;
	height: auto;
	margin: 0 0 10px 0;
	text-transform: uppercase;
}

.contents .board_shape .board_name {
	text-align: center;
}

.contents .board_shape .name_text {
	padding-bottom: 40px;
	width: 100%;
	height: 60px;
	font-size: 14px;
	font-weight: 600px;
}

.contents .board_shape .board_body .board_table {
	position: relative;
	margin: 10px 0 0 0;
	line-height: 1.5;
	width: 100%;
	font-size: 12px;
}

.board_body .board_table .table-head {
	color: #555;
	font-size: 12px;
	background-color: #fafafa;
}

.board_body .table-head th {
	text-align: center;
	padding: 15px 0;
	height: 48px;
	border-bottom: none;
	font-weight: 400;
}

.board_body .table-list {
	text-align: center;
	width: 100%;
}

.board_body .table-list td {
	height: 50px;
	padding: 15px 15px;
}

.board_shape .search {
	position: relative;
	display: inline-block;
	border: 1px solid #ddd;
	border-top: none;
	width: 100%;
	height: 61px;
	padding: 15px 15px;
}

.search .search-kind {
	float: left;
	height: 24px;
	width: auto;
}

.search-kind .kind {
	width: 72px;
	height: 24px;
	margin: 0 2px;
	border: 1px solid #888;
	background: none;
	font-size: 12px;
	padding: 0;
}

.search .search-box {
	width: auto;
	height: 24px;
	display: inline-block;
	float: left;
}

.search .search-box .text {
	width: 172px;
	height: 24px;
	margin-left: 5px;
	font-size: 12px;
	border: 1px solid #888;
    border-radius: 0;
    padding: 4px 4px;
}

.search .search-box .search-btn {
	width: 60px;
	height: 20px;
	color: #999;
	padding: 0 5px;
	display: inline-block;
	font-size: 12px;
	border: none;
	cursor: pointer;
}

.search .write-btn {
	width: 102px;
	height: 26px;
	border: 1px solid #a5a5a5;
	cursor: pointer;
	font-size: 12px;
    line-height: 2;
    display: inline-block;
    position: relative;
    float: right;
}

.board_shape .page {
	width: 100%;
	margin: 30px 0;
	text-align: center;
}

.board_shape ol {
	width: auto;
	height: 20px;
	display: inline-block;
	padding: 0 10px;
	margin: 0 auto;
}

.board_shape ol li {
	width: auto;
	height: 20px;
	display: inline-block;
	list-style: none;
}










