@charset "UTF-8";

a{
	text-decoration: none !important;
}

a:hover {
	color: gray;
}

.join_input{
	padding-top: 10px;
	padding-bottom: 10px;
}

.join_input2{
	padding-top: 10px;
	padding-bottom: 35px;
}

.textAgg{
	overflow: auto;
	
}

#address_btn{
	background: white;
	color: black;
	width: 130px;
	height: 35px;
		
}

#joinBtn{
	background: white;
	color: black;
	width: 700px;
	height: 35px;
}

.addrBtn{
	padding-bottom: 10px;
}

#modBtn{
	background: white;
	color: black;
	width: 150px;
	height: 35px;
	
}

#delBtn{
	background: white;
	color: black;
	width: 150px;
	height: 35px;
	
}
